.modal.bio#bio__modal
	.modal__dialog.clearfix#bio__modal__dialog
		.modal__dialog__close#bio-close__cross
			+svg('modal__dialog__close__cross', 'close')
		.modal__dialog__content#bio-content
			.swiper-container
				.swiper-wrapper
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-1.png" srcset="i/@2x/ava-1.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Sergei Sergienko
						p.bio__human_position Chief Executive Officer
						p.bio__human_descr Sergei Sergienko is a co-founder of Edway Group Ltd. He has won a number of awards in business in Australia, including "Hot 30 under 30" and "Young gun in business". He has represented Australia on G20 summits and understands how to connect real and crypto world economies.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-2.png" srcset="i/@2x/ava-2.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Paul Glover
						p.bio__human_position Ideologist
						p.bio__human_descr Paul is the legendary creator of Uthaca HOURS, the first modern time-based currency! The founder of 18 organisations and campaigns for ecology and social justice, he is an author of several books and a former professor of urban studies at Temple University.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-3.png" srcset="i/@2x/ava-3.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Petrushko Andrey
						p.bio__human_position Marketing Director
						p.bio__human_descr With a Bachelor Degree in Marketing from UNSW (University of New South Wales) and 20+ years work experience in various industries, Andrey understand how marketing and business works. Andrey believes that blockchain technology is the future and that it will change the world.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-4.png" srcset="i/@2x/ava-4.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Mikhail Savchenko
						p.bio__human_position Chief Technology Officer
						p.bio__human_descr Born with a ZX Spectrum in his hand, Mike is a veteran programmer with more than 20 years experience of software development, security and cryptography. His CV includes an MBA in IT Project Management and he has applied his skills to blockchain development since the early days of bitcoin. Most recently, he won a fintech hackathon at which he presented a trusted document exchange based on IPFS and Ethereum. This will form a key part of ChronoBank’s functionality.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-5.png" srcset="i/@2x/ava-5.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Anton Dokuchaev
						p.bio__human_position Tech lead
						p.bio__human_descr Senior Full-Stack Developer with 15+ years of expertise. Experienced with working in international distributed teams and environments, successfully participated in the development of large-scale distributed architecture systems with a diversified set of technologies. Graduated with distinction from Faculty of Communications Engineering of GUAP University.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-6.png" srcset="i/@2x/ava-6.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Aliaksei Hiatsevich
						p.bio__human_position Ethereum Smart Contract Developer
						p.bio__human_descr Experienced Lead Software Engineer with a demonstrated history of working in the computer software industry. Skilled in Blockchain, Ethereum(Solidity), Hyperledger, C/C++ and Linux. Major responsibilities include smart contract writing and maintenance, performance optimization, research and technical development implementation.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-7.png" srcset="i/@2x/ava-7.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Oleg Zyev
						p.bio__human_position Developer
						p.bio__human_descr High skilled Software Architect with a passion for computer science and research work in fields of BigData, neurology, virtualization and artificial intelligence. Egor is well known for his collaborative work with HSE, Bauman university, Moscow State university and Plekhanov university. His background varies from low-level languages (C/C++) up to high level languages (Java, C#, Javascript, PHP). In chronobank, Egor is responsible for developing, maintaining and further integration of the middleware services.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-8.png" srcset="i/@2x/ava-8.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Igor Pavlenko
						p.bio__human_position Senior JavaScript Developer
						p.bio__human_descr 10+ years of experience in software development. Participated in developing software products for IBM, Intel & VISA. I like to code, I like to make things better.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-9.png" srcset="i/@2x/ava-9.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Kugusheva Alexandra
						p.bio__human_position Digital Communication Manager
						p.bio__human_descr Alexandra has over 2 years of experience in the blockchain startups. Through her studies and experiences, Alexandra gained a good mixture of strong technical background and high communication skills. She is focused on delivering ChronoBank vision to the world.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-10.png" srcset="i/@2x/ava-10.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Yaroslav Lunev
						p.bio__human_position Marketing Analyst
						p.bio__human_descr Yaroslav has over 7 years of experience in various business projects with a focus on marketing and strategy. Yaroslav is a blockchain enthusiast with a passion for analysis. He always stays on the leading edge of technology and enjoys structuring new information in a creative and interactive way.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-11.png" srcset="i/@2x/ava-11.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Sofia Zabotina
						p.bio__human_position Marketing Consultant
						p.bio__human_descr Sofya is a communications strategist with 5+ years experience in strategic communications and public relations. She has a background in sociology, market analysis and communications planning with an emphasis on social media and creative product development.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-12.png" srcset="i/@2x/ava-12.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Kirill Sheglov
						p.bio__human_position Brand evangelist
						p.bio__human_descr Digital director in BAZELEVS, Cofounder makecase.ru. Kirill has 5+ years in e-commerce, 6+ years in digital marketing. Created 10+ national marketing campaigns such as Bacardi, Alfa Bank and Central Partnership.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-13.png" srcset="i/@2x/ava-13.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Danila Zubkov
						p.bio__human_position DevOps
						p.bio__human_descr Managed engineering teams for grid building, development companies. He has been responsible for the full products stack: infrastructure & operations, enterprise applications as well as hiring, establishing engineering culture and delivery process.
					.swiper-slide.bio__human
						.bio__human_face-box
							img(src="i/ava-14.png" srcset="i/@2x/ava-14.png").bio__human_face
							.bio__human_contacts
								.bio__human_contacts_title Get in touch with
									strong.bio__human_contacts_title-name Sergei
								.bio__human_contacts_links
									a(href="#" target="_blank")
										+svg('bio__i', 'human-mail')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-twitter')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-facebook')
									a(href="#" target="_blank")
										+svg('bio__i', 'human-telegram')
						p.bio__human_name Oleg Dizus
						p.bio__human_position Mobile developer
						p.bio__human_descr 6+ years of experience. Started as a web-designer and front-end developer. Participated in developing front-end for some interesting innovative projects. Developed mobile app for public transport system.
				.swiper-pagination
				.swiper-button-next
					+svg('temp', 'chevron-right')
				.swiper-button-prev
					+svg('temp', 'chevron-left')


