.employees
  .wrap
    ul.employees__list
      li.employees__text
        h3.employees__title We are making revolution for the recruitment industry
        .employees__descr
          p ChronoBank’s vision is to create a peer-to-peer marketplace for short-term recruitment in which there are no unnecessary costs and no arbitrary gatekeepers. We believe that blockchain technology is the key to unlocking this new world of employment opportunities that anyone can access, wherever they are in the world, and make sure they get paid promptly and fairly. We want to pioneer best practice in both the blockchain and labour-hire industries, and work with a range of highly-qualified partners to ensure our solution is secure, robust and user-friendly for all.
          p ChronoBank's team is a collection of passionate and highly skilled individuals, located around the world.
      li.employees__human
        .employees__human_face.enable
          img(src="i/ava-1.png" srcset="i/@2x/ava-1.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Sergei Sergienko
        p.employees__human_position Chief Executive Officer
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face.enable
          img(src="i/ava-2.png" srcset="i/@2x/ava-2.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Paul Glover
        p.employees__human_position Ideologist
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-3.png" srcset="i/@2x/ava-3.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Petrushko Andrey
        p.employees__human_position Marketing Director
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-4.png" srcset="i/@2x/ava-4.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Mikhail Savchenko
        p.employees__human_position Chief Technology Officer
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-5.png" srcset="i/@2x/ava-5.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Anton Dokuchaev
        p.employees__human_position Tech lead
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-6.png" srcset="i/@2x/ava-6.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Aliaksei Hiatsevich
        p.employees__human_position Ethereum Smart Contract Developer
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-7.png" srcset="i/@2x/ava-7.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Oleg Zyev
        p.employees__human_position Developer
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-8.png" srcset="i/@2x/ava-8.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Igor Pavlenko
        p.employees__human_position Senior JavaScript Developer
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-9.png" srcset="i/@2x/ava-9.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Kugusheva Alexandra
        p.employees__human_position Digital Communication Manager
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-10.png" srcset="i/@2x/ava-10.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Yaroslav Lunev
        p.employees__human_position Marketing Analyst
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-11.png" srcset="i/@2x/ava-11.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Sofia Zabotina
        p.employees__human_position Marketing Consultant
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-12.png" srcset="i/@2x/ava-12.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Kirill Sheglov
        p.employees__human_position Brand evangelist
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-13.png" srcset="i/@2x/ava-13.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Danila Zubkov
        p.employees__human_position DevOps
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa
      li.employees__human
        .employees__human_face
          img(src="i/ava-14.png" srcset="i/@2x/ava-14.png").employees__face
          .employees__human_contacts
            a(href="#" target="_blank")
              +svg('employees__i', 'human-mail')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-twitter')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-facebook')
            a(href="#" target="_blank")
              +svg('employees__i', 'human-telegram')
        p.employees__human_name Oleg Dizus
        p.employees__human_position Mobile developer
        button(type="button").employees__human_bio-link Read bio
          +svg('employees__human_bio-link_arrow', 'arrow')
        .employees__human_bio Baaaa

