.slider
	.slider__popup
		h4.slider__popup_title Searching for interesting job?
			a(href="#").slider__popup_title-main Join us!
		.slider__popup_describe
			p LH tokens will be linked to national average hourly wages, which have significant and stable growth with very low volatility.
		button(type="button").button View openings
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="uploads/slider/img-team-1.png" srcset="uploads/slider/img-team-1@2x.png").slider__pic
			.swiper-slide
				img(src="uploads/slider/img-team-2.png" srcset="uploads/slider/img-team-2@2x.png").slider__pic
			.swiper-slide
				img(src="uploads/slider/img-team-3.png" srcset="uploads/slider/img-team-3@2x.png").slider__pic
			.swiper-slide
				img(src="uploads/slider/img-team-4.png" srcset="uploads/slider/img-team-4@2x.png").slider__pic
			.swiper-slide
				img(src="uploads/slider/img-team-5.png" srcset="uploads/slider/img-team-5@2x.png").slider__pic
			.swiper-slide
				img(src="uploads/slider/img-team-6.png" srcset="uploads/slider/img-team-6@2x.png").slider__pic