.modal.vacancy#vacancy__modal
	.modal__dialog.clearfix#vacancy__modal__dialog
		.modal__dialog__close#vacancy-close__cross
			+svg('modal__dialog__close__cross', 'close')
		.modal__dialog__content#vacancy-content
			h4.vacancy_title#vacancy__modal__title Javascript engineer
			p.vacancy_time#vacancy__modal__time Full-time
			p.vacancy_describe#vacancy__modal__describe We’re looking for a JavaScript engineer with in-depth knowledge of Node.js / React / Redux. Much better if you have experience with PostgreSQL, MongoDB, RabbitMQ and/or blockchain
			form(name="vacancy-contact" action="#").vacancy__form#vacancy__modal__form.js-validate
				.form-field.field__block_2
					label(for="vacancy__modal__form__input-name").field__label.form-label.vacancy__label.name#vacancy__modal__form__label-name Your name*
					input(required maxlength="50" type="text" name="modal_form_name").field_2.vacancy__input.js-field#vacancy__modal__form__input-name
				.form-field.field__block_2
					label(for="vacancy__modal__form__input-email").field__label.vacancy__label.email#vacancy__modal__form__label-email Email*
					input(required maxlength="50" type="text" name="modal_form_email").field_2.vacancy__input.js-field#vacancy__modal__form__input-email
				.form-field.field__block_2
					label(for="vacancy__modal__form__input-message").field__label.vacancy__label.message#vacancy__modal__form__label-message Additional information, links: portfolio url, linkedin, github, telegram, skype etc.
					textarea(required name="modal_form_message").field_2.vacancy__input.js-field#vacancy__modal__form__input-message
				.form-field
					label.field__label-file.form-label.vacancy__label.name#vacancy__modal__form__label-file Attach resume/CV*
						input(required type="file" name="modal_form_file").field_file#vacancy__modal__form__input-file
				.button__container
					input(type="submit" value="Send").button


