.vacancies
  .wrap
    h2.vacancies__title Jobs at Chronobank.io
    ul.vacancies__list
      li.vacancies__vacancy
        h4.vacancies__vacancy_title Javascript engineer
        .vacancies__vacancy_describe
          p We’re looking for a JavaScript engineer with in-depth knowledge of Node.js / React / Redux.
          p Much better if you have experience with PostgreSQL, MongoDB, RabbitMQ and/or blockchain
        button(type="button").button Apply