.about
	.about__header
		.wrap
			h2.about__title What is ChronoBank.io?
			p.about__descr ChronoBank.io is an ambitious and wide-ranging blockchain project, aimed at disrupting the HR/recruitment/finance industries in a similar way to how Uber disrupted the taxi business and how Upwork represented an evolution in freelancing.
	.about__section.professions
		.wrap
			.about__content
				.about__pic
					.about__legend Our primary target professions
					.about__img-box
						img(src="i/professions.png" srcset="i/@2x/professions.png 2x").about__img
				.about__text
					h3.about__text_title Our mission
					p.about__main At ChronoBank.io, we are challenging the status quo and bringing an alternative to traditional financial systems.
					p This alternative is a new generation of time-based currencies utilising the latest developments in blockchain technology.
					p Despite soaring interest in distributed ledger technology, there are currently very few blockchain apps poised for mainstream market adoption.
					p ChronoBank.io has been designed by a consortium of professionals with over 100 years of combined recruitment experience, in consultation with experts who can create the software to leverage blockchain technology to solve real-world business problems.
					p Specifically, we want to create a revolution in short-term recruitment within key professions.
	.about__section.dark.tokens
		.wrap
			.about__content
				.about__pic
					.about__legend We created the financial backbone of ChronoBank.io: National Labour–Hour (LH) tokens
					.about__img-box
						img(src="i/about.png" srcset="i/@2x/about.png 2x").about__img
				.about__text
					h3.about__text_title Labour–Hour Stable Coins
					p.about__text_main Labour-Hour tokens are linked to average hourly wages in the host country and are backed by a real labour force from big recruitment and labour-hire companies.
					p Labour is abundant enough for everyone to have access to it, yet scarce enough to be valuable. It is the most tradeable resource in the real economy.
					p LH tokens will tokenise this resource. Because they are backed by real labour, they are absolutely inflation-proof and have next to zero volatility — in comparison to bitcoin and other cryptocurrencies.
					p This solution is far more sustainable than any of the fiat-pegged or backed coins that currently exist in the crypto market. LH tokens will be hyper–liquid and accessible 24/7 via the LH debit card.
	.about__section.list
		.wrap
			.about__list
				h3.about__text_title Labour–Hour Features
				ul.about__list-container
					li.about__list-block
						+svg('about__i', 'feature1')
						h4.about__list-name Alternative financial system
						p.about__list-descr As a blockchain-based form of private, time-based money, banks are made redundant, and transactions happen directly between people and businesses.
					li.about__list-block
						+svg('about__i', 'feature2')
						h4.about__list-name Multiple blockchains supported
						p.about__list-descr LH tokens and Chronobank.io dapps will be created on Ethereum, Waves and NEM blockchains.
					li.about__list-block
						+svg('about__i', 'feature3')
						h4.about__list-name Protection from inflation
						p.about__list-descr LH tokens will be linked to national average hourly wages, which have significant and stable growth with very low volatility.
					li.about__list-block
						+svg('about__i', 'feature4')
						h4.about__list-name AUD/USD/EUR/GBP transactions
						p.about__list-descr LH have stable prices in fiat currencies. They, therefore, allow users to transact while maintaining AUD/USD/EUR/GBP-measured values.
					li.about__list-block
						+svg('about__i', 'feature5')
						h4.about__list-name Stable tokens
						p.about__list-descr ChronoBank.io will issue Labour-Hour coins with stable value, protecting users from cryptocurrency's infamous volatility.
					li.about__list-block
						+svg('about__i', 'feature6')
						h4.about__list-name Simple to use
						p.about__list-descr Designed with users in mind and with best UI/UX practices. One click to buy/sell/send transactions with fiat or cryptocurrencies.
					li.about__list-block
						+svg('about__i', 'feature7')
						h4.about__list-name Transparency
						p.about__list-descr A decentralised ledger backbone and multiple security levels guarantee transparency and openness at all stages of Labour-Hour life cycle.
					li.about__list-block
						+svg('about__i', 'feature8')
						h4.about__list-name LH Debit Card
						p.about__list-descr LH tokens will be hyper-liquid and accessible 24/7 via the LH debit card.
