.ceo
  .wrap
    .ceo__container
      img(src="uploads/ceo.jpg" alt="Sergei Sergienko").ceo__photo
      img(src="uploads/ceo_big.jpg" alt="Sergei Sergienko").ceo__photo_big
      .ceo__inner
        h3.ceo__name Sergei Sergienko
        .ceo__position CEO of Chronobank
        blockquote.ceo__message
          p It is both invigorating and exciting to be a part of the blockchain revolution. We are all living in a world that is changing faster than ever before. Traditional ways of doing things are fast becoming obsolete, including the way we work and earn a living. I and our stellar team at ChronoBank have risen to the challenge of creating a fairer, more sustainable and better system for anyone to work, get paid and trade their only valuable resource, their Time. We believe that people should have better choices in their work/life balance, be paid according to their skills, receive pensions and pay taxes effortlessly. Thanks to our talented and experienced team, a lot of things have already been developed since the completion of our ICO. We have big plans and will continue giving our best efforts for this project to be a success. Stay tuned, ChronoBank's TIME is coming.