.partners
  .wrap
    h3.partners__title Partners
    p.partners__descr We are proud of our partners
    .partners__container.swiper-container
      .partners__content.swiper-wrapper
        a(href="#").partners__block.swiper-slide
          .partners__logo-box
            img.partners__logo(src="uploads/partners/logo1.png" srcset="uploads/partners/@2x/logo1.png 2x" alt="Waves")
          h4.partners__name Waves
          p.partners__info Waves is a custom tokens platform, designed to make creating, distributing and trading blockchain tokens fast and straightforward. With a built-in decentralised exchange and multiple crypto and fiat gateways, Waves is the ideal platform for blockchain crowdsales and the tokenisation of business models.
        a(href="#").partners__block.swiper-slide
          .partners__logo-box
            +svg('partners__logo', 'nem')
          h4.partners__name NEM
          p.partners__info We have taken great care to design the system for ease of use, to make sure that actual labour time and the LH token can be exchanged efficiently for each other.
          p.partners__info NEM is a smart asset platform: a highly versatile and modular blockchain system that combines simplicity and flexibility, allowing businesses to build a diverse variety of applications for real-world use with off-the-peg tools.
        a(href="#").partners__block.swiper-slide
          .partners__logo-box
            +svg('partners__logo', 'icopromo')
          h4.partners__name ICOpromo
          p.partners__info We have taken great care to design the system for ease of use, to make sure that actual labour time and the LH token can be exchanged efficiently for each other.
          p.partners__info ICO Promo is a blockchain consultancy and marketing company that specialises in publicity for token sales. The group has been behind a number of highly successful crowdfunding campaigns, including ChronoBank’s own ICO.
      .swiper-pagination
