.downloads
  z-index: 2
  position: relative
  padding-top: 16px
  padding-bottom: 64px
  background-color: #f7f9ff
  margin-top: -89px

  .wrap
    position: relative

  &__header
    text-align: center
    margin-bottom: 64px

    &_title
      font-size: 1.8rem
      font-weight: 300
      line-height: 2.4rem
      margin-top: 8px

    &_link
      display: inline-block

    &_icon
      display: inline-block

      &-i
        width: 32px
        height: 32px
        fill: #768fff
        vertical-align: top

  &__content
    display: flex
    align-items: center
    text-align: center
    flex-direction: column

    &_section
      display: flex
      flex-direction: column
      margin-bottom: 32px

      &:last-child,
      & > :last-child
        margin-bottom: 0

      &.mobile

        .downloads__content_link
          border-radius: 6px

    &_title
      font-size: 1.6rem
      font-weight: bold
      margin-bottom: 24px

    &_link
      margin-bottom: 24px

    &_i

      &-mobile
        display: block
        height: 48px
        width: 162px

      &-desktop
        display: block
        width: 159px
        height: 48px

@include media(mobile,medium)
  .downloads

    .wrap
      max-width: 480px

@include media(tablet,medium)
  .downloads

    .wrap
      max-width: 640px

    &__content
      display: flex
      align-items: flex-start
      text-align: left
      flex-direction: row
      justify-content: space-between

@include media(desktop,small)
  .downloads
    margin-top: -102px
    padding-top: 24px

    &__header

      &_title
        font-size: 2.4rem

    &__content

      &_title
        font-size: 1.8rem

