.features
  background-color: white
  padding-top: 64px
  padding-bottom: 96px
  position: relative
  z-index: 0

  &__title
    font-size: 1.8rem
    font-weight: bold
    line-height: normal
    text-align: left
    margin-bottom: 24px

  &__content
    display: flex
    flex-direction: column
    justify-content: flex-start
    position: relative
    z-index: 0

  &__list
    list-style: none

    &_item
      display: block
      margin-bottom: 16px

      &:last-child
        margin-bottom: 0

      &.active
        .features__list_item-text
          background-color: #2962ff
          color: white
          box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)

        .features__list_item-image-box
          max-height: 260px

      &-text
        border-radius: 2px
        background-color: #f7f9ff
        padding: 10px 16px 10px 48px
        box-sizing: border-box
        display: flex
        align-items: stretch
        color: #0039cb
        transition: all $fast
        cursor: pointer
        position: relative
        font-size: 1.6rem
        font-weight: 500
        line-height: 1.5
        text-align: left
        margin-bottom: 16px

      &-pic
        width: 62px
        height: 79px
        margin-bottom: 16px

      &-back
        height: auto
        position: absolute
        z-index: -1
        //width: 100%
        width: 364px
        margin-left: -182px
        left: 50%
        top: 0

      &-image
        position: relative
        width: 228px
        transition: all $slow
        padding: 26px 0 80px

        &-box
          display: block
          position: relative
          margin: 0 -38px
          text-align: center
          overflow: hidden
          max-height: 0
          transition: all $slow

      &-i
        position: absolute
        top: 10px
        left: 16px
        width: 24px
        height: 24px

      &-link
        display: inline-block
        position: relative
        font-size: 1.2rem
        line-height: normal
        padding-left: 34px
        text-transform: uppercase
        font-weight: 500
        color: #2962ff
        width: 168px
        word-wrap: break-word
        text-align: left

        &:hover
          text-decoration: underline

        &-box
          position: absolute
          text-align: center
          display: inline-flex
          align-items: center
          flex-direction: column
          justify-content: center
          width: 100%
          left: 0
          top: 41px
          transition: all $slow

        &-i
          position: absolute
          width: 18px
          height: 18px
          left: 0
          top: 7px
          display: block

@include media(mobile,medium)
  .features

    .wrap
      max-width: 480px

@include media(tablet,medium)
  .features

    .wrap
      max-width: 640px

@include media(desktop,small)
  .features
    padding-bottom: 145px

    .wrap
      max-width: 100%
      padding: 0

    &__title
      font-size: 2.4rem
      margin-bottom: 32px

    &__content
      flex-direction: row
      justify-content: flex-start
      align-items: flex-start

    &__list
      width: 40%

      &_item

        &:first-child

          .features__list_item-back
            display: block

        &.active

          .features__list_item-image
            opacity: 1
            //z-index: 0
            visibility: visible

          .features__list_item-link-box
            opacity: 1
            z-index: 1
            visibility: visible

        &-text
          padding: 16px 24px 16px 63px
          font-size: 2.0rem
          line-height: 1.6

        &-i
          top: 16px
          left: 24px

        &-pic
          display: inline-block
          width: 154px
          height: 197px
          margin-bottom: 32px

        &-back
          position: absolute
          z-index: -1
          margin-left: -139px
          width: 963px
          height: 687px
          left: 0
          display: none

        &-image
          position: absolute
          left: 45px
          top: 53px
          width: 603px
          height: 399px
          margin-left: 0
          z-index: 0
          opacity: 0
          visibility: hidden

          &-box
            position: absolute
            z-index: 0
            left: 50%
            top: 0
            width: 963px
            height: 687px
            margin: -33px 0 0 0
            overflow: visible

        &-link
          display: inline-block
          position: relative
          font-size: 1.4rem
          text-align: center
          width: auto

          &-box
            width: auto
            position: absolute
            display: flex
            align-items: center
            flex-direction: column
            justify-content: center
            left: 156px
            top: 129px
            opacity: 0
            z-index: 0
            visibility: hidden

          &
            top: 0