.header
  min-height: 480px
  height: 100vh
  background: no-repeat center center linear-gradient(228deg, #644ebf, #262448)
  background-size: contain
  padding: 22px 0 80px
  box-sizing: border-box
  position: relative
  //opacity: 0
  overflow: hidden
  opacity: 1
  z-index: 2

  &__logo
    position: relative
    display: block

    &-i
      &_mobile
        position: absolute
        left: 0
        top: 2px
        display: block
        width: 180px
        height: 21px

      &_desktop
        position: absolute
        left: 0
        top: 8px
        display: none
        width: 279px
        height: 33px

  .wrap
    z-index: 5
    position: relative
    box-sizing: border-box
    height: 100%

    &::after
      content: ''
      position: absolute
      z-index: -2
      bottom: -84px
      top: auto
      right: auto
      left: 50%
      margin-left: -184px
      width: 368px
      height: 272px
      background-image: url(../i/header-chronomint_laptop_320.png), url(../i/svg/header-chronomint_laptop-small.svg)
      background-position: 36px 20px, center
      background-repeat: no-repeat
      background-size: auto, contain

      @include pixel-ratio-with-svg('header-chronomint_laptop_320.png','header-chronomint_laptop-small.svg',81)

    &::before
      content: ''
      position: absolute
      z-index: -1
      top: auto
      right: auto
      bottom: 20px
      left: 50%
      margin-left: 30px
      width: 126px
      height: 222px
      background-image: url(../i/header-chronomint_mobile_320.png), url(../i/svg/header-chronomint_mobile-small.svg)
      background-position: 21px 33px, center
      background-repeat: no-repeat
      background-size: auto, contain

      @include pixel-ratio-with-svg('header-chronomint_mobile_320.png','header-chronomint_mobile-small.svg',66)

  &__block
    padding-top: 70px
    width: 288px
    color: white

  &__title,
  &__descr
    line-height: normal
    font-weight: 300

  &__title
    font-size: 2.8rem

  &__descr
    font-size: 1.8rem
    margin-bottom: 35px

  &__i
    position: absolute
    left: 0
    top: -4px
    width: 25px
    height: 25px

  &__news
    display: none
    position: absolute
    top: 70px
    color: white
    font-size: 1.2rem
    border-radius: 2px
    line-height: 1
    align-items: center
    padding: 4px 10px 4px 4px
    max-width: 80%
    overflow: hidden
    background: #412b8a
    box-sizing: border-box
    white-space: nowrap
    text-overflow: ellipsis

    &_label
      background-color: #FFAB00
      border-radius: 2px
      text-transform: uppercase
      padding: 4px 10px
      margin-right: 16px

    b
      margin-right: 3px
      white-space: nowrap

.nav
  position: absolute
  right: 0
  top: 0

@include media(desktop,small)

  .header
    min-height: 600px

    .wrap

      &::after
        width: 769px
        height: 578px
        bottom: -178px
        left: auto
        right: -213px
        background-image: url(../i/header-chronomint_laptop_1280.png), url(../i/svg/header-chronomint_laptop.svg)
        background-position: 86px 53px, center
        background-repeat: no-repeat
        background-size: auto, contain

        @include pixel-ratio-with-svg('header-chronomint_laptop_1280.png','header-chronomint_laptop.svg',78)

      &::before
        width: 252px
        height: 447px
        bottom: 50px
        left: auto
        right: -139px
        background-image: url(../i/header-chronomint_mobile_1280.png), url(../i/svg/header-chronomint_mobile.svg)
        background-position: 44px 65px, center
        background-repeat: no-repeat
        background-size: auto, contain

        @include pixel-ratio-with-svg('header-chronomint_mobile_1280.png','header-chronomint_mobile.svg',65)

    &__logo

      &-i
        &_mobile
          display: none

        &_desktop
          display: block

    &__news
      display: flex

    &__title
      font-size: 6.3rem

    &__descr
      font-size: 3.6rem
      margin-bottom: 9px

    &__block
      width: 50%
      padding-top: 200px


@include media(desktop,medium)

  .header

    .wrap
      max-width: 100%
      padding: 0

      &::after
        right: -213px

      &::before
        right: -139px