extends includes/body.pug

block main
    main.team
        include includes/team/header
        include includes/team/slider
        include includes/team/about
        include includes/team/employees
        include includes/team/vacancies
        include includes/team/vacancy-popup.pug
        include includes/team/bio-popup.pug