@mixin placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &:placeholder
    @content

@mixin media($type, $size)
  @if $type == desktop
    @if $size == small
      @media only screen and (min-width: 1024px)
        @content
    @else if $size == medium
      @media only screen and (min-width: 1280px)
        @content
    @else if $size == large
      @media only screen and (min-width: 1920px)
        @content
  @else if $type == tablet
    @if $size == small
      @media only screen and (min-width: 720px)
        @content
    @else if $size == medium
      @media only screen and (min-width: 768px)
        @content
    @else if $size == large
      @media only screen and (min-width: 960px)
        @content
  @else if $type == mobile
    @if $size == small
      @media only screen and (min-width: 320px)
        @content
    @else if $size == medium
      @media only screen and (min-width: 480px)
        @content
    @else if $size == large
      @media only screen and (min-width: 640px)
        @content


@mixin pixel-ratio($src)
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)
    &
      background-image: url('../i/@2x/#{$src}')

@mixin pixel-ratio-with-svg($src-png,$src-svg,$size)
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)
    &
      background-image: url('../i/@2x/#{$src-png}'), url('../i/svg/#{$src-svg}')
      background-size: $size * 1%, contain

@mixin footer-breakpoint()
  @media only screen and (min-width: 560px)
    @content

@mixin vacancy-breakpoint()
  @media only screen and (min-width: 560px)
    @content

@mixin faq-breakpoint()
  @media only screen and (min-width: 900px)
    @content