.header
  min-height: 480px
  background: no-repeat center center linear-gradient(236deg, #644ebf, #262448)
  background-size: contain
  padding: 22px 0 80px
  box-sizing: border-box
  position: relative
  z-index: 2

  &__logo
    position: relative
    display: block

    &-i
      &_mobile
        position: absolute
        left: 0
        top: 2px
        display: block
        width: 180px
        height: 21px

      &_desktop
        position: absolute
        left: 0
        top: 8px
        display: none
        width: 279px
        height: 33px

  .wrap
    position: relative
    z-index: 5
    box-sizing: border-box

  &__block
    padding: 70px 16px 0
    margin: 0 auto
    max-width: 480px
    box-sizing: border-box

  &__title
    font-size: 2.8rem
    line-height: normal
    font-weight: 300
    color: white
    margin-bottom: 35px

  &__i
    position: absolute
    left: 0
    top: -4px
    width: 25px
    height: 25px

.nav
  position: absolute
  right: 0
  top: 0

@include media(tablet, medium)

  .header
    min-height: 480px

    &__title
      font-size: 6.3rem
      margin-bottom: 42px

@include faq-breakpoint()

  .header

    &__block
      max-width: 100%

@include media(desktop,small)

  .header

    &__logo

      &-i
        &_mobile
          display: none

        &_desktop
          display: block

    &__block
      padding-top: 200px
      width: auto
      display: block

@include media(desktop,medium)

  .header

    .wrap
      max-width: 100%