.help
  background-color: #f7f9ff
  position: relative
  z-index: 0

  .wrap
    position: relative
    top: -270px
    display: flex
    justify-content: space-between
    flex-direction: column
    align-items: stretch
    max-width: 480px

  &__i
    display: inline-block
    vertical-align: middle
    width: 24px
    height: 24px

  &__menu
    display: block
    border-radius: 2px
    background-color: #f7f9ff
    margin-bottom: 32px
    box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)

    &_list
      list-style: none
      padding: 24px 0

      &-item
        a
          display: block
          padding: 12px 32px
          box-sizing: border-box
          font-weight: 500
          color: #2962ff
          transition: all $fast

          &.active,
          &:hover
            background-color: white
            color: #00005f

        &_text
          margin-left: 25px
          vertical-align: middle
          display: inline-block
          font-size: 1.6rem
          font-weight: 500

  &__search
    margin-bottom: 32px
    border-radius: 2px
    z-index: 0
    position: relative
    background: white

    &::before
      content: ''
      width: 18px
      height: 18px
      background: no-repeat center url("../i/svg/magnify.svg")
      background-size: contain
      position: absolute
      z-index: -1
      left: 32px
      top: 50%
      margin-top: -9px

    &_input
      background: transparent
      width: 100%
      box-sizing: border-box
      padding: 15px 15px 15px 65px
      font-size: 16px
      color: $black

    input
      @include placeholder()
        color: #66669f


  &__questions
    text-align: left
    padding: 15px 0
    border-radius: 2px
    background-color: #f7f9ff
    box-sizing: border-box

    &-list
      list-style: none

  &__section
    margin-bottom: 23px

    &_title
      font-size: 1.6rem
      font-weight: 300
      color: #00005f
      margin-bottom: 16px

    li:first-of-type
      box-shadow: 0 4px 8px 0 rgba(118, 143, 255, 0.2)

  &__question
    border-radius: 2px
    background-color: white
    box-shadow: 0 4px 8px 0 rgba(118, 143, 255, 0.2), 0 -1px 0 0 #f7f9ff

    &.show

      .help__question_name::after
        transform: rotate(180deg)

      .help__question_answer
        transition: all $fast ease-in
        max-height: 500px

    &_name
      font-size: 1.6rem
      font-weight: 500
      color: #0039cb
      cursor: pointer
      padding: 10px 24px
      position: relative

      &::after
        content: ''
        display: block
        position: absolute
        right: 24px
        top: 50%
        margin-top: -4px
        width: 12px
        height: 8px
        background: url('../i/svg/chevron.svg') no-repeat center
        background-size: contain
        transition: transform $fast

    &_answer
      transition: all $fast ease-out
      overflow: hidden
      max-height: 0
      padding: 0 24px
      box-sizing: border-box

      &-par
        padding: 10px 0
        font-size: 1.4rem
        line-height: 1.5

        &_title
          font-weight: bold
          color: #00005f
          margin-bottom: 10px
          font-size: inherit

        &_text
          color: #66669f

          p
            margin-bottom: 5px

            &:last-of-type
              margin-bottom: 0

@include media(tablet, medium)

  .help

    .wrap
      top: -180px

@include faq-breakpoint()

  .help
    background-color: white

    .wrap
      align-items: flex-end
      top: -135px
      max-width: 100%

    &__section

      &_title
        font-size: 2.4rem

    &__questions
      background-color: #f7f9ff
      padding: 15px 32px

    &__question

      &_name
        font-size: 2.0rem

      &_answer
        &-par
          font-size: 1.6rem

    &__menu
      width: 40%
      position: absolute
      left: 16px

    &__search,
    &__questions
      width: 56%

@include media(desktop, small)

  .help

    &__menu
      width: 32%

    &__search,
    &__questions
      width: 65%