.ceo
  position: relative
  z-index: 0

  .wrap
    position: relative

  &__container
    background: white
    box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)
    position: relative
    border-radius: 2px
    overflow: hidden

  &__photo
    display: block
    width: 100%
    margin-bottom: 16px

    &_big
      display: none

  &__inner
    text-align: left
    padding: 0 16px 30px

  &__name
    font-size: 2.0rem
    font-weight: 300
    line-height: normal

  &__position
    font-size: 1.2rem
    margin-bottom: 86px
    color: #0039cb
    text-transform: uppercase

  &__message
    position: relative
    font-size: 1.4rem
    font-style: italic
    font-weight: normal
    line-height: normal

    &::before
      content: '“'
      display: block
      position: absolute
      font-size: 12rem
      opacity: .6
      line-height: 0
      font-weight: bold
      left: -10px
      top: -15px
      z-index: 10

    p
      margin-bottom: 10px

      &:last-child
        margin-bottom: 0

@include media(mobile,medium)
  .ceo

    .wrap
      max-width: 480px

@include media(desktop,small)

  .ceo
    margin-top: -255px

    .wrap
      max-width: 100%

    &__container
      max-width: 930px
      margin: 0 auto
      display: flex
      align-items: flex-start

      &::before
        height: 90%
        top: -100px

    &__photo
      display: none

      &_big
        display: block
        width: auto
        flex: 1 0 auto

    &__inner
      padding: 32px 63px 32px 47px

    &__name
      font-size: 2.4rem

    &__position
      font-size: 1.4rem
      margin-bottom: 85px

    &__message
      //font-size: 1.8rem
      padding-left: 60px

      &::before
        font-size: 14.4rem
        top: 0
        left: -20px

      p
        max-height: 300px
        overflow: hidden
        text-overflow: ellipsis