.contacts
  position: relative
  z-index: 0
  background-color: #f7f9ff

  &__container
    padding: 64px 0 32px

  &__title
    font-size: 2.6rem
    font-weight: 500
    text-align: center

  &__form
    padding: 32px 0

    .button__container
      padding-top: 9px
      text-align: right

    .button
      display: inline-block

  &__list
    padding-top: 32px
    font-size: 1.6rem
    text-align: left

    dt,
    dd
      position: relative
      margin-left: 56px

    dt
      font-weight: 500

    dd
      margin-bottom: 24px
      color: #2962ff

      &:last-child
        margin-bottom: 0

    a

      &:hover
        text-decoration: underline

  &__inner
    &_title
      font-size: 1.8rem
      line-height: 2.4rem
      margin-bottom: 26px
      font-weight: 300
      text-align: left

  &__i
    position: absolute
    width: 32px
    height: 32px
    display: block
    left: -56px
    top: 4px

@include media(mobile,medium)
  .contacts

    .wrap
      max-width: 480px


//@include media(tablet,medium)
//
//  .contacts
//
//    .wrap
//      display: flex
//
//    &__container
//      margin: 0
//      margin-left: -30px
//      width: calc(50% + 30px)
//      padding-left: 30px
//      box-sizing: border-box
//
//    &__form
//      width: 50%
//
//    &__inner
//      margin: 0 auto
//      width: 75%

@include media(desktop,small)

  .contacts
    background: white
    position: relative
    z-index: 0

    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 50%
      background-color: #f7f9ff
      z-index: -1

    .wrap
      max-width: 100%

    &__container
      display: flex
      justify-content: space-between
      padding: 96px 0

    &__content
      width: 50%
      box-sizing: border-box
      flex: 1 0 0

    &__title
      font-size: 4.8rem
      text-align: left

    &__list
      font-size: 1.8rem
      line-height: 2.2rem
      padding-top: 37px

      dd
        margin-bottom: 28px

    &__form
      width: 50%
      flex: 1 0 0
      padding: 44px 0 0

    &__inner
      padding-right: 96px
      padding-left: 112px
      box-sizing: border-box
      width: auto

      &_title
        font-size: 2.4rem
        line-height: 3.4rem
        margin-bottom: 30px

    &__i
      top: 7px

