.header
  min-height: 568px
  height: 100vh
  background: no-repeat center center linear-gradient(197deg, #644ebf, #262448)
  background-size: contain
  padding: 22px 0 80px
  box-sizing: border-box
  position: relative
  //opacity: 0
  opacity: 1
  z-index: 2

  &__logo
    position: relative
    display: block

    &-i
      &_mobile
        position: absolute
        left: 0
        top: 2px
        display: block
        width: 180px
        height: 21px

      &_desktop
        position: absolute
        left: 0
        top: 8px
        display: none
        width: 279px
        height: 33px

  &__video
    display: inline-block
    position: relative
    line-height: 1.7rem
    color: white
    padding-left: 41px
    cursor: pointer

    &_label
      font-size: 1.4rem

    &-container
      position: fixed
      left: 0
      top: 0
      right: 0
      bottom: 0
      background: rgba(0, 0, 0, .65)
      display: flex
      align-items: center
      justify-content: center
      z-index: 5
      @extend .hide

    &_opened
      @extend .show

    &-close
      width: 26px
      height: 26px
      display: block
      position: absolute
      right: 0
      top: 0
      padding: 30px
      transform: rotate(45deg)
      cursor: pointer

      &::before,
      &::after
        content: ''
        display: block
        position: absolute
        background: white

      &::before
        width: 26px
        height: 2px
        top: 42px
        left: 30px

      &::after
        height: 26px
        width: 2px
        left: 42px
        top: 30px

    &-block

      iframe
        width: 300px
        height: 168px

  .wrap
    position: relative
    z-index: 5
    box-sizing: border-box

    &:after
      content: ''
      position: absolute
      z-index: -1
      top: 235px
      left: 0
      width: 100%
      height: 177px
      background: url(../i/header_320.png) no-repeat center
      background-size: contain

      @include pixel-ratio('header_320.png')

  &__block
    padding-top: 70px
    width: 288px

  &__title
    font-size: 1.8rem
    line-height: normal
    font-weight: 300
    color: white
    margin-bottom: 35px

    &_main
      display: block
      font-size: 2.8rem
      line-height: normal
      font-weight: 300

  &__news
    display: none

  &__i
    position: absolute
    left: 0
    top: -4px
    width: 25px
    height: 25px

  &__news
    position: absolute
    top: 70px
    color: white
    font-size: 1.2rem
    border-radius: 2px
    line-height: 1
    align-items: center
    padding: 4px 10px 4px 4px
    max-width: 80%
    overflow: hidden
    background: #412b8a
    box-sizing: border-box
    white-space: nowrap
    text-overflow: ellipsis
    display: none

    &_label
      background-color: #FFAB00
      border-radius: 2px
      text-transform: uppercase
      padding: 4px 10px
      margin-right: 16px

    b
      margin-right: 3px
      white-space: nowrap

.nav
  position: absolute
  right: 0
  top: 0

@include media(mobile, medium)

  .header

    .wrap

      &:after
        top: 169px

        height: 228px
        background-image: url(../i/header_480.png)

        @include pixel-ratio('header_480.png')

@include media(mobile, large)

  .header

    .wrap

      &:after
        top: 108px

        height: 304px
        background-image: url(../i/header_640.png)

        @include pixel-ratio('header_640.png')

@include media(tablet, medium)

  .header
    min-height: 700px

    &__video

      &-block

        iframe
          width: 560px
          height: 315px

@include media(desktop,small)

  .header

    .wrap

      &:after
        width: 850px
        height: 425px
        background: url(../i/header_1280.png) no-repeat center
        background-size: contain
        left: auto
        top: 155px
        right: -25px

        @include pixel-ratio('header_1280.png')

    &__logo

      &-i
        &_mobile
          display: none

        &_desktop
          display: block

    &__video

      &_label
        font-size: 1.6rem
        line-height: 2rem
        transition: all $fast

        &:hover
          opacity: .6

      &-block

        iframe
          width: 800px
          height: 450px

    &__news
      display: flex

    &__title
      font-size: 3.6rem
      margin-bottom: 42px

      &_main
        font-size: 6.3rem
        margin-bottom: 9px

    &__block
      padding-top: 200px
      width: auto

@include media(desktop,medium)

  .header

    .wrap
      max-width: 100%

      &:after
        top: 141px
        right: -60px