.nav

  &__icon
    display: block
    top: 0
    right: 16px
    cursor: pointer
    position: absolute

    &_i
      width: 20px
      height: 20px
      vertical-align: middle
      fill: white

  &__logo
    display: block
    position: absolute
    left: 16px
    width: 180px
    height: 21px
    top: 24px

  &__close
    position: absolute
    right: 9px
    top: 13px
    width: 18px
    height: 18px
    padding: 10px

    &::before,
    &::after
      content: ''
      display: block
      position: absolute
      background: #768FFF
      transform: rotate(45deg)

    &::before
      width: 18px
      height: 2px
      top: 18px
      left: 10px

    &::after
      width: 2px
      height: 18px
      left: 18px
      top: 10px

  &__item
    position: relative
    font-size: 1.8rem
    line-height: 2.1rem
    display: block

    &_label
      color: $black
      padding: 13px 16px
      display: flex
      align-items: center
      font-weight: 500

    &.expand

      & > a
        color: #66669f
        text-transform: uppercase

    &.lang
      font-size: 1.6rem
      color: #7f7faf
      position: absolute
      right: 16px
      top: 80px

      .nav__lang-list
        list-style: none
        background: white
        position: absolute
        right: 0
        top: 32px
        width: 130px
        box-shadow: 0 8px 16px rgba(0,0,0,.24)
        padding: 10px 0
        display: none
        border-radius: 2px

        a
          display: block
          font-size: 1.4rem
          line-height: 1.7rem
          padding: 3px 16px 4px
          position: relative
          opacity: .8

          &.current
            opacity: 1
            padding-left: 41px

            .nav__lang-i
              display: block

      &::before
        content: ''
        display: block
        position: absolute
        right: 0
        top: 50%
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 5px solid #768fff

      .nav__lang-i
        display: none
        width: 16px
        height: 16px
        position: absolute
        left: 16px
        top: 3px

      .nav__lang-current
        padding-right: 16px
        position: relative
        display: block

  &__block
    position: fixed
    width: 100%
    right: 0
    top: 0
    background: white
    z-index: 1
    padding-top: 67px
    display: none

  &__products
    border-bottom: 1px solid #e9efff
    margin-bottom: 7px
    padding: 0

    &-name
      color: $black
      font-weight: bold

    &-descr
      display: none

    &-logo
      display: block
      position: absolute
      left: 16px
      top: 7px

    a
      display: block
      padding: 13px 16px 13px 64px
      position: relative

  &__login
    background: #f7f9ff
    color: #6768a2

    &-i
      width: 18px
      height: 18px
      margin-right: 10px

@include media(desktop,small)

  .nav

    &__item
      padding: 0
      margin: 0 24px

      &_label
        color: white
        height: 50px
        padding: 0

      &.expand
        perspective: 2000px

        & > a
          text-transform: none
          color: inherit

        .nav__products
          visibility: hidden
          opacity: 0
          transform: rotateX(-40deg)
          transform-origin: 50% -50px
          transition: opacity $fast, transform 0.5s

        &:hover
          .nav__products
            visibility: visible
            opacity: 1
            transform: none
            transition-delay: 0s

      &.hover

        .nav__item_label
          transition: all $fast

        &:hover

          .nav__item_label
            opacity: .6

      &.lang
        position: relative
        top: 0
        right: 0

        .nav__lang-list
          top: 40px
          padding: 10px 0

          a
            font-size: 1.6rem
            line-height: 2rem
            padding: 6px 16px
            transition: all $fast

            &:hover
              font-weight: bold

            &.current
              font-weight: bold

              .nav__lang-i
                top: 7px

        .nav__lang-current
          color: white
          height: 50px
          display: flex
          align-items: center

    &__icon,
    &__close,
    &__logo
      display: none

    &__block
      background: none
      position: absolute
      width: auto
      max-width: 1000px
      padding: 0
      display: block

    &__products
      background: white
      border: 0
      box-shadow: 0 8px 16px rgba(0,0,0,.24)
      position: absolute
      left: 0
      top: 50px
      padding: 5px 0
      margin: 0
      border-radius: 2px

      a
        display: block
        padding: 18px 16px 18px 80px
        border-top: 1px solid #e9efff
        width: 255px
        font-weight: normal
        box-sizing: border-box

      li:first-child a
        border: 0

      &-descr
        display: block
        font-size: 1.2rem
        line-height: 1.5rem
        padding-top: 6px

      &-logo
        width: 40px
        height: 40px
        top: 20px

    &__list
      display: flex
      align-content: center
      color: white

    &__login
      background: none