.news
  padding-top: 64px
  position: relative
  z-index: 0

  &__title
    font-size: 2.6rem
    font-weight: 500
    text-align: center
    margin-bottom: 16px

  &__preloader
    display: flex
    align-items: flex-start
    justify-content: center
    height: 100px
    width: 100%

  &__container
    margin: 0 -16px
    background: white

  &__block
    display: block
    padding: 16px
    border-radius: 2px
    text-align: left
    color: $black
    transition: all $fast

    &_title
      font-size: 1.8rem
      font-weight: bold
      margin-bottom: 12px

    &_descr
      font-size: 1.4rem
      line-height: 2.1rem
      color: #66669f

    &:hover
      box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)

  &__pic
    display: block
    background-repeat: no-repeat
    background-position: 50% 50%
    width: 100%
    padding-top: 76.8%
    background-size: cover
    margin-bottom: 16px

@include media(mobile,medium)

  .news

    .wrap
      max-width: 480px

@include media(desktop,small)

  .news

    &__container
      display: flex
      flex-wrap: wrap
      align-items: stretch

    &__block
      width: 50%
      box-sizing: border-box
      padding: 24px

@include media(desktop,small)

  .news
    padding-top: 107px
    padding-bottom: 61px

    .wrap
      max-width: 100%

    &__title
      font-size: 4.8rem
      margin: 0

    &__container
      padding-top: 58px
      margin: 0

    &__block

      &_title
        font-size: 2.4rem
        line-height: 3.2rem
        font-weight: bold
        margin-bottom: 19px

      &_descr
        font-size: 1.8rem
        line-height: 2.2rem