.partners
  padding: 64px 0 32px
  position: relative
  z-index: 0

  .wrap
    text-align: center
    padding: 0
    overflow: hidden

  &__title
    font-size: 2.6rem
    font-weight: 500
    text-align: center
    margin-bottom: 10px

  &__descr
    font-size: 1.8rem
    line-height: 2.4rem
    font-weight: 300

  &__container
    margin: 0 auto
    overflow: visible
    padding: 32px 16px 70px
    position: relative

    .swiper-pagination
      display: none

    &.show

      .swiper-pagination
        bottom: 24px
        display: block

      .swiper-pagination-bullet
        width: 4px
        height: 4px
        border-radius: 50%
        border: 1px solid white
        margin: 0 2px !important
        background-color: #8799ff
        opacity: 1

      .swiper-pagination-bullet-active
        border-color: $blue
        background-color: $blue

  &__content
    display: flex
    align-items: stretch

  &__block
    background: #f7f9ff
    // margin-right: 16px
    transition: all $fast
    padding: 24px 16px
    box-sizing: border-box
    position: relative
    color: $black
    text-align: left
    border-radius: 2px
    box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)

  &__logo
    display: block
    max-height: 100%
    max-width: 100%

    &-box
      width: 120px
      height: 80px
      margin-bottom: 20px

  &__name
    font-size: 1.6rem
    line-height: 1.8rem
    margin-bottom: 14px
    font-weight: normal

  &__info
    font-size: 1.4rem
    line-height: 2.4rem
    color: #66669f

@include media(mobile,medium)

  .partners

    .wrap
      max-width: 480px

@include media(mobile, large)

  .partners

    &__content
      flex-direction: column
      margin: 0

    &__block
      margin-bottom: 24px
      box-sizing: border-box
      box-shadow: none

      &:hover
        box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)

      &:last-of-type
        margin-bottom: 0

@include media(desktop,small)

  .partners
    padding-top: 91px
    padding-bottom: 0

    .wrap
      max-width: 100%

    &__title
      font-size: 4.8rem
      margin: 0

    &__descr
      padding: 3px
      font-size: 2.4rem
      line-height: 3.4rem

    &__container
      padding-top: 13px
      padding-bottom: 0
      overflow: visible
      width: auto
      margin: 0
      display: block

    &__content
      transform: translate(0, 0) !important
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-between

    &__block
      width: 32%
      box-sizing: border-box
      margin-top: 33px
      flex: auto 0 0

    &__name
      font-size: 1.8rem
      line-height: 2.1rem
      font-weight: bold
      margin-bottom: 10px

    &__descr
      font-size: 2.4rem
      line-height: 3.4rem

    &__info
      font-size: 1.6rem
      line-height: 2.4rem
