.press
  background: #f7f9ff
  padding: 32px 0 0
  position: relative
  z-index: 0

  &__title
    font-size: 2.6rem
    font-weight: 500
    line-height: normal
    margin-bottom: 16px
    text-align: center

  &__block
    padding: 32px 0 21px
    border-bottom: 1px solid $blue

    &:last-child
      border-bottom: 0

  &__logo
    display: block
    margin-bottom: 24px

    &_big
      display: none

  &__inner

    &_title
      font-size: 1.8rem
      font-weight: 300
      line-height: 2.4rem
      text-align: left
      margin-bottom: 16px

    &_descr
      font-size: 1.6rem
      line-height: 2rem
      margin-bottom: 16px

  &__more
    display: inline-block
    position: relative
    font-size: 1.2rem
    line-height: 1.7rem
    padding-left: 34px
    text-transform: uppercase
    font-weight: 500
    color: #2962ff

    &:hover
      text-decoration: underline

  &__buttons
    position: relative
    top: 18px
    display: flex
    justify-content: center

  &__i
    position: absolute
    width: 18px
    height: 18px
    left: 0
    top: -1px
    display: block

@include media(mobile,medium)
  .press

    .wrap
      max-width: 480px


@include media(tablet,medium)

  .press

    &__inner
      &_descr
        width: 75%

@include media(desktop,small)

  .press
    background: none
    padding-top: 89px

    .wrap
      max-width: 100%

    &__title
      font-size: 4.8rem
      margin-bottom: 39px

    &__container
      position: relative

      &::before
        content: ''
        position: absolute
        z-index: -1
        left: 50%
        top: 0
        bottom: 0
        right: 0
        display: block
        background-color: #f7f9ff

    &__descr
      width: 100%

    &__block
      display: flex
      padding: 0
      border-bottom-width: 2px

      &:first-child

        .press__inner
          padding-top: 32px

        .press__pic
          padding-top: 60px

      &:last-child

        border-bottom: 0

        .press__inner
          padding-bottom: 82px

    &__pic
      width: 50%
      box-sizing: border-box
      padding: 32px 112px 32px 0
      display: flex
      justify-content: flex-end
      align-items: flex-start

    &__logo
      display: none

      &_big
        display: block

    &__inner
      background: #f7f9ff
      width: 50%
      text-align: left
      padding: 17px 0 31px 16px
      box-sizing: border-box

      &_title
        font-size: 24px
        font-weight: 300
        margin-bottom: 27px

      &_descr
        font-size: 1.8rem
        line-height: 2.4rem
        margin-bottom: 19px
        width: auto

    &__more
      font-size: 1.4rem
      line-height: 2rem

    &__i
      top: 1px

    &__buttons
      bottom: 15px
