.roadmap
  background-color: #f7f9ff
  padding-top: 32px
  padding-bottom: 128px
  position: relative
  z-index: 0

  .swiper-container
    opacity: 0
    padding-bottom: 200px
    padding-top: 100px
    transition: opacity 1s

    &.show
      opacity: 1

  .swiper-preloader
    opacity: 0
    z-index: -1
    transition: all 1s
    position: absolute
    top: 50%
    left: 50%
    margin-left: -16px
    margin-top: -16px
    width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center

    &.show
      opacity: 1
      z-index: 1

  .swiper-pagination
    transition: transform
    top: 26px
    position: relative
    display: flex
    justify-content: space-between
    padding-right: 16px
    box-sizing: border-box

  .swiper-pagination-line
    height: 100%
    z-index: 0
    position: relative
    padding: 0 144px 0 128px
    display: flex
    justify-content: stretch
    align-items: stretch
    background-color: #f7f9ff

    &::before
      content: ''
      left: 128px
      background-color: #768fff
      top: 50%
      margin-top: -1px
      height: 2px
      opacity: 0.6
      right: 0
      bottom: 0
      position: absolute
      z-index: -1

    &::after
      content: ''
      right: -100%
      width: 100%
      background-color: #f7f9ff
      top: 0
      bottom: 0
      padding-left: 144px
      position: absolute
      z-index: -1

    &-box
      z-index: -1
      width: 100%
      height: 8px
      margin: 0 -50%
      position: relative
      bottom: -10px
      padding: 0 50%

      &::before
        content: ''
        background-color: #768fff
        position: absolute
        left: 0
        width: 100%
        top: 0
        bottom: 0
        z-index: -1
        display: none

  .swiper-filling-box
    overflow-x: hidden
    margin-right: 16px
    position: relative
    flex: 1 0 100%
    z-index: 0

  .swiper-filling-line
    z-index: -1
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    background-color: #768fff
    transform: scaleX(0)
    transform-origin: left center
    transition: transform 1s ease 0.01s

  .swiper-pagination-bullet
    width: 24px
    height: 24px
    margin: 0 116px
    background-color: #644ebf
    display: inline-flex
    justify-content: center
    align-items: center
    border-radius: 50%
    opacity: 1
    position: relative

    &::before
      content: ''
      border-radius: 50%
      width: 8px
      height: 8px
      background: white

    &:nth-child(9)
      margin: 0

      p
        display: none

  &__container
    overflow: visible
    position: relative
    width: auto
    padding-top: 32px

  &__block
    text-align: center
    box-sizing: border-box
    padding: 124px 24px 50px
    border-radius: 2px
    background-color: white
    box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)
    width: 256px
    position: relative

    &::after
      content: ''
      position: absolute
      bottom: -25px
      left: 50%
      margin-left: -10px
      border: 10px solid transparent
      border-top: 16px solid white
      display: block
      width: 0
      height: 0

    &.today
      width: 24px
      padding: 0
      box-shadow: none
      background: transparent
      border: none

      &::after
        display: none

      .roadmap__point
        padding: 15px 24px
        border-radius: 2px
        background-color: #ffffff
        box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)
        position: absolute
        top: 480px
        left: 50%
        margin-left: -96px
        display: inline-block
        white-space: nowrap

        &::before
          content: ''
          position: absolute
          background-color: #768fff
          width: 2px
          opacity: 0.6
          display: block
          z-index: -1
          height: 100px
          left: 50%
          margin-left: -3px
          top: -100px

        &_i
          fill: #768fff
          height: 32px
          width: 23px
          display: inline-block
          vertical-align: middle

        &_text
          margin-left: 16px
          display: inline-block
          vertical-align: middle
          font-size: 2.0rem
          font-weight: 500
          text-align: left
          color: #0039cb
  &__logo
    width: 100%
    height: 100%

    &-box
      position: absolute
      left: 50%
      margin-left: -92px
      top: -92px
      display: block
      border-radius: 50%
      box-sizing: border-box
      padding: 38px
      background-color: #f7f9ff
      box-shadow: 0 8px 16px 0 rgba(100, 78, 191, 0.2)
      width: 184px
      height: 184px

  &__name
    font-size: 1.6rem
    font-weight: bold
    color: #00005f

  &__title
    text-align: center
    font-size: 2.6rem
    line-height: normal
    font-weight: 500

  &__info
    font-size: 1.4rem
    line-height: 1.5
    color: #66669f

  &__data-value
    position: absolute
    text-align: left
    top: 40px
    font-size: 1.6rem
    font-weight: 500
    color: #0039cb

@include media(desktop,small)

  .roadmap
    padding-top: 91px
    padding-bottom: 255px

    .swiper-container
      padding-bottom: 296px

    .swiper-pagination
      padding-right: 40px
      top: 56px

    .swiper-pagination-line
      padding-right: 168px

      &::after
        padding-left: 168px

      &-box
        bottom: -40px

    .swiper-filling-box
      margin-right: 40px

    .swiper-pagination-bullet

      &:nth-child(9)
        margin: 0 12px

    &__container
      padding-top: 64px

    &__block

      &.today
        width: 48px

        .roadmap__point
          top: 550px

    &__title
      font-size: 4.8rem

    &__name
      font-size: 1.8rem

    &__info
      font-size: 1.6rem

    &__data-value
      font-size: 2.0rem

