header.header
  .wrap
    .header__logo
      +svg('header__logo-i_mobile', 'logo-mobile-header')
      +svg('header__logo-i_desktop', 'logo-desktop-header')
    .nav
      .nav__icon
        +svg('nav__icon_i', 'menu')
      .nav__block
        +svg('nav__logo', 'logo-mobile-header')
        .nav__close.js-close-menu
        ul.nav__list
          li.nav__item.hover.expand
            a(href="#").nav__item_label Products
            ul.nav__products
              li
                a(href="/chronomint.html" target="_blank")
                  img(src="i/nav_logo1.png" srcset="i/@2x/nav_logo1.png 2x").nav__products-logo
                  .nav__products-name ChronoMint
                  .nav__products-descr Our product helps people lorem ipsum subtitle
              li
                a(href="#")
                  img(src="i/nav_logo2.png" srcset="i/@2x/nav_logo2.png 2x").nav__products-logo
                  .nav__products-name LaborX
                  .nav__products-descr Our product helps people lorem ipsum subtitle
          li.nav__item.hover
            a(href="/team.html" target="_blank").nav__item_label.js-close-menu Team
          li.nav__item.hover
            a(href="/faq.html" target="_blank").nav__item_label.js-close-menu FAQ
          li.nav__item.hover
            a(href="https://medium.com/@Chronobank" target="_blank").nav__item_label.js-close-menu Blog
          li.nav__item.hover
            a(href="#").nav__item_label.js-close-menu Contacts
          li.nav__item.hover
            a(href="#").nav__item_label.nav__login.js-close-menu
              +svg('nav__login-i', 'login')
              | Login
          li.nav__item.hover.lang
            a(href="#").nav__lang-current.js-nav-sec Eng
            ul.nav__lang-list
              li
                a(href="#").current
                  +svg('nav__lang-i', 'check')
                  | Rus
              li
                a(href="#")
                  +svg('nav__lang-i', 'check')
                  | Rus
              li
                a(href="#")
                  +svg('nav__lang-i', 'check')
                  | Rus
                a(href="#")
                  +svg('nav__lang-i', 'check')
                  | Rus
              li
                a(href="#")
                  +svg('nav__lang-i', 'check')
                  | Rus
              li
                a(href="#")
                  +svg('nav__lang-i', 'check')
                  | Rus
    .header__block
      h1.header__title FAQ