.about
  padding: 64px 0
  background-color: #f7f9ff
  position: relative
  z-index: 0

  &__header
    margin-bottom: 18px

  &__title
    font-size: 2.6rem
    font-weight: 500
    text-align: center

  &__facts-list
    list-style: none
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start

  &__fact
    width: 96px
    display: inline-block
    vertical-align: top
    margin-top: 32px
    padding: 0 16px

    &:nth-child(1)
      width: 100%
      box-sizing: border-box

      .about__i
        width: 54px
        height: 72px

    &:nth-child(2)

      .about__i
        width: 58px
        height: 39px

    &:nth-child(3)

      .about__i
        width: 73px
        height: 41px

    &:nth-child(4)

      .about__i
        width: 48px
        height: 66px

    &:nth-child(5)

      .about__i
        width: 58px
        height: 44px

    &:nth-child(6)

      .about__i
        width: 34px
        height: 45px

    &:nth-child(7)

      .about__i
        width: 50px
        height: 38px

    &_text
      font-size: 1.6rem
      line-height: 2.4rem
      color: #66669f

      &-main
        font-weight: bold
        font-size: 1.6rem
        display: block
        color: $black

  &__pic
    line-height: normal
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 12px
    box-sizing: border-box
    border-radius: 50%
    background-color: #f7f9ff
    box-shadow: 0 4px 8px 0 rgba(100, 78, 191, 0.2)
    margin-bottom: 16px
    width: 96px
    height: 96px

  &__i
    display: block

@include media(mobile,medium)

  .about

    .wrap
      max-width: 480px

@include media(desktop,small)

  .about

    .wrap
      max-width: 100%

    &__title
      font-size: 4.8rem

    &__facts-list
      display: block

    &__fact
      width: 200px
      margin: 0 44px
      box-sizing: border-box

      &:nth-child(4n-4)
        margin-left: 0

      &:nth-child(4n-1)
        margin-right: 0

      &:nth-child(1)
        width: 200px
        margin-left: 56px

      &:nth-child(3)
        margin-right: 56px

      &_text
        margin-bottom: 16px
        font-size: 1.6rem

        &-main
          font-size: 1.8rem

    &__pic
      margin-bottom: 24px
