.bio

  .swiper-container
    position: static

  .swiper-button-next,
  .swiper-button-prev
    display: inline-block
    margin-top: -6px
    background-image: none
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    width: auto
    height: auto

    svg
      width: 8px
      height: 12px
      fill: #768fff

  .swiper-button-next
    right: 8px
    left: auto

  .swiper-button-prev
    left: 8px
    right: auto

  .swiper-pagination
    bottom: 4px

  &__i
    width: 24px
    height: 24px
    vertical-align: top
    fill: #768fff

  &__human

    &_face
      border-radius: 50%
      width: 184px
      height: 184px
      background: no-repeat center grey
      transition: all $fast
      position: relative
      margin-bottom: 16px
      overflow: hidden

      &-box
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 24px

    &_contacts
      display: none
      transition: all $fast
      margin-left: 24px
      margin-top: 24px

      &_title
        font-size: 1.4rem
        color: #66669f
        margin-bottom: 16px
        line-height: normal

        &-name
          display: block
          font-weight: normal
          line-height: normal
          color: $black

      &_links

        a
          width: 24px
          height: 24px
          display: inline-block
          vertical-align: middle
          background-color: white
          margin-right: 12px
          border-radius: 50%

    &_name
      font-size: 2.0rem
      font-weight: 300

    &_position
      font-size: 1.2rem
      color: #0039cb
      margin-bottom: 32px
      text-transform: uppercase

@include media(mobile, large)

  .bio

    .swiper-button-next
      right: 24px

    .swiper-button-prev
      left: 24px

    .swiper-pagination
      bottom: 26px

@include media(tablet,medium)

  .bio

    &__human
      &_face
        &-box
          flex-direction: row
          align-items: flex-end

@include media(desktop, small)

  .bio

    .swiper-pagination
      bottom: 42px