.employees
  background: white
  padding: 64px 0
  position: relative
  z-index: 0

  &__list
    display: flex
    flex-wrap: wrap
    list-style: none
    justify-content: center

  &__text
    text-align: left
    margin-bottom: 64px

  &__title
    font-size: 1.8rem
    font-weight: bold
    margin-bottom: 24px

  &__descr
    font-size: 1.4rem
    line-height: 1.5
    color: #66669f

    p
      margin-bottom: 15px

      &:last-of-type
        margin: 0

  &__human
    text-align: left
    display: inline-block
    vertical-align: top
    margin: 0 52px 56px
    width: 184px

    &_face
      border-radius: 50%
      width: 100%
      height: 184px
      background: no-repeat center grey
      transition: all $fast
      position: relative
      margin-bottom: 16px
      overflow: hidden
      z-index: 0

      &.enable:hover

        .employees__human_contacts
          opacity: 0.8
          visibility: visible

    &_contacts
      visibility: hidden
      display: flex
      position: absolute
      background-color: #768fff
      justify-content: center
      align-items: center
      transition: all $fast
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0

      a
        display: inline-block
        background-color: white
        margin: 0 6px
        border-radius: 50%

    &_name
      font-size: 2.0rem
      font-weight: 300
      line-height: normal

    &_position
      font-size: 1.2rem
      color: #0039cb
      margin-bottom: 16px
      text-transform: uppercase

    &_bio-link
      display: block
      font-size: 1.4rem
      color: #2962ff
      cursor: pointer
      background: transparent

      &:hover

        svg
          margin-left: 5px

      &_arrow
        width: 14px
        height: 6px
        transition: all $fast

    &_bio
      display: none

    &:last-of-type
      margin-bottom: 0

  &__i
    width: 24px
    height: 24px
    vertical-align: top
    fill: white
    background-color: #768fff

@include media(mobile,medium)

  .employees

    .wrap
      max-width: 480px

    &__list
      justify-content: space-between

    &__human
      margin: 0 0 56px

@include media(desktop,small)

  .employees

    .wrap
      max-width: 100%

    &__text
      width: 50%
      float: left

    &__title
      font-size: 2.4rem

    &__descr
      font-size: 1.6rem

    &__human
      margin: 0 52px 56px

      &:nth-child(4n-1)
        margin-right: 0

      &:nth-child(4n)
        margin-left: 0

      &_face
        margin-bottom: 24px

      &_name
        font-size: 2.4rem

      &_position
        font-size: 1.4rem
        margin-bottom: 24px
