.header
  min-height: 648px
  background: no-repeat center center #f7f9ff
  background-size: contain
  padding: 22px 0 80px
  box-sizing: border-box
  position: relative
  z-index: 2

  &__logo
    position: relative
    display: block

    &-i
      &_mobile
        position: absolute
        left: 0
        top: 2px
        display: block
        width: 180px
        height: 21px

      &_desktop
        position: absolute
        left: 0
        top: 8px
        display: none
        width: 279px
        height: 33px

  .wrap
    position: relative
    z-index: 5
    box-sizing: border-box

    &:after
      content: ''
      position: absolute
      z-index: -1
      top: 190px
      left: 0
      width: 100%
      height: 265px
      background: url(../i/header-team_320.png) no-repeat center
      background-size: contain

      @include pixel-ratio('header-team_320.png')

  &__block
    padding-top: 70px
    width: 288px

  &__title,
  &__descr
    line-height: normal
    font-weight: 300

  &__title
    font-size: 2.8rem

  &__descr
    font-size: 1.8rem
    margin-bottom: 35px

  &__i
    position: absolute
    left: 0
    top: -4px
    width: 25px
    height: 25px

.nav
  position: absolute
  right: 0
  top: 0

@include media(mobile, medium)

  .header

    .wrap

      &:after
        top: 169px

        height: 371px
        background-image: url(../i/header-team_480.png)

        @include pixel-ratio('header-team_480.png')

@include media(mobile, large)

  .header

    .wrap

      &:after
        top: 133px

        height: 494px
        background-image: url(../i/header-team_640.png)

        @include pixel-ratio('header-team_640.png')

@include media(tablet, medium)

  .header
    min-height: 700px

@include media(desktop,small)

  .header
    min-height: 615px
    overflow: hidden

    .wrap

      &:after
        width: 638px
        height: 543px
        top: 56px
        left: auto
        right: 16px
        background-image: url(../i/header-team_1280.png)

        @include pixel-ratio('header-team_1280.png')

    &__logo

      &-i
        &_mobile
          display: none

        &_desktop
          display: block

    &__title
      font-size: 6.3rem

    &__descr
      font-size: 3.6rem
      margin-bottom: 9px

    &__block
      width: 550px
      padding-top: 200px

@include media(desktop,medium)

  .header

    .wrap
      max-width: 100%

      &:after
        right: -70px