.modal
  box-sizing: border-box
  overflow-x: hidden
  overflow-y: auto
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 2
  height: 0
  opacity: 0
  -webkit-overflow-scrolling: touch
  transition: all .5s ease
  background-color: rgba(0, 0, 0, .8)
  text-align: center

  &.show
    opacity: 1
    height: auto

  &__dialog
    display: inline-block
    background-color: white
    position: relative
    transform: translate(0)
    transition: transform .3s ease-out
    margin: 45px auto
    border-radius: 2px

    &__close
      width: 15px
      height: 15px
      position: absolute
      top: 0
      right: -25px
      cursor: pointer

      &__cross
        max-width: 100%
        max-height: 100%

    &__content
      padding: 24px
      width: 262px
      min-height: 262px
      box-sizing: border-box
      text-align: left

@include media(mobile, medium)

  .modal

    &__content
      padding: 24px
      width: 424px
      min-height: 424px

@include media(mobile, large)

  .modal

    &__dialog
      &__close
        width: 20px
        height: 20px
        right: -30px

      &__content
        padding: 48px
        width: 552px
        min-height: 552px

@include media(desktop, small)

  .modal

    &__dialog

      &__close
        width: 30px
        height: 30px
        right: -40px

      &__content
        padding: 64px
        width: 672px
        min-height: 672px