.slider
  background: gray
  position: relative
  z-index: 2

  &__pic
    height: 100%

  &__popup
    padding: 32px 16px
    width: 288px
    margin-left: -144px
    box-sizing: border-box
    border-radius: 2px
    background-color: white
    box-shadow: 0 16px 24px 0 rgba(118, 143, 255, 0.2)
    position: absolute
    left: 50%
    top: -260px
    opacity: 1
    z-index: 2
    transition: all $fast

    &_title
      font-size: 1.6rem
      font-weight: bold
      line-height: normal
      margin-bottom: 16px

      &-main
        line-height: normal
        display: block
        color: #0039cb

    &_describe
      font-size: 1.6rem
      line-height: 1.5
      color: #66669f
      margin-bottom: 24px

  .swiper-container
    height: 246px

  .swiper-slide
    background: white
    width: 368px
    text-align: center

@include media(mobile,large)

  .slider

    &__popup
      top: -186px
      width: 352px
      margin-left: -10.5%
      padding: 32px

      &_title
        font-size: 1.8rem

@include media(desktop,small)

  .slider

    &__popup
      margin-left: 10.5%

    .swiper-container
      height: 430px

    .swiper-slide
      width: 640px
