.vacancy

  .modal__dialog__content
    padding: 16px 24px

  &_title
    font-size: 2.4rem
    font-weight: 300
    color: #00005f

  &_time
    font-size: 2.4rem
    font-weight: bold
    color: #00005f

  &_describe
    font-size: 1.4rem
    color: #66669f
    margin-bottom: 60px

  &__form
    width: 100%

    textarea
      padding-top: 40px

@include media(mobile, medium)

  .vacancy

    .modal__dialog__content
      padding: 16px 24px

@include media(mobile, large)

  .vacancy

    .modal__dialog__content
      padding: 24px 48px

@include media(desktop, small)

  .vacancy

    &__form
      width: 60%

    .modal__dialog__content
      padding: 24px 64px