.vacancies
  background-color: #f7f9ff
  padding: 64px 0
  position: relative
  z-index: 0

  &__title
    font-size: 2.6rem
    text-align: center
    font-weight: 500
    margin-bottom: 32px

  &__list
    display: flex
    justify-content: center
    flex-wrap: wrap
    list-style: none

  &__vacancy
    width: 256px
    text-align: left
    padding: 0 16px
    margin-bottom: 56px

    &:last-child
      margin-bottom: 0

    &_title
      font-size: 1.6rem
      font-weight: bold
      margin-bottom: 16px

    &_describe
      font-size: 14px
      line-height: 1.5
      color: #66669f
      margin-bottom: 24px

      p
        margin-bottom: 10px

        &:last-child
          margin-bottom: 0

    .button
      display: inline-block

@include media(mobile,large)

  .vacancies

    .wrap
      max-width: 640px

@include media(desktop,small)

  .vacancies
    padding-bottom: 96px

    &__title
      font-size: 4.8rem
      margin-bottom: 64px

    &__list
      justify-content: space-between

    &__vacancy

      &_title
        font-size: 1.8rem

      &_describe
        font-size: 16px

@include media(desktop,medium)

  .vacancies

    .wrap
      max-width: 100%

    &__vacancy
      margin-bottom: 0
      padding: 0

