.downloads
	.wrap
		.downloads__header
			.downloads__header_icon
				.downloads__header_link
					+svg('downloads__header_icon-i', 'download-icon')
			h2.downloads__header_title ChronoMint downloads
		.downloads__content
			.downloads__content_section.desktop
				h4.downloads__content_title Desktop App
				a(href="#").downloads__content_link.button_fake
					+svg('downloads__content_i-desktop', 'download-macos')
				a(href="#").downloads__content_link.button_fake
					+svg('downloads__content_i-desktop', 'download-windows')
			.downloads__content_section.mobile
				h4.downloads__content_title Mobile App
				a(href="#").downloads__content_link.button_fake
					+svg('downloads__content_i-mobile', 'app-store')
				a(href="#").downloads__content_link.button_fake
					img(src="i/svg/play-market.svg").downloads__content_i-mobile
