.features
	.wrap
		h2.features__title Key features
		.features__content
			ul.features__list
				li.features__list_item
					.features__list_item-text
						+svg('features__list_item-i', 'list')
						p Open source
					.features__list_item-image-box
						img(src="i/svg/feature-laptop.svg").features__list_item-back
						img(src="i/github.png" srcset="i/@2x/github.png").features__list_item-image
						.features__list_item-link-box
							+svg('features__list_item-pic', 'github-pic')
							a.features__list_item-link(href="#")
								+svg('features__list_item-link-i', 'more')
								span https://github.com/ChronoBank/ChronoMint
				li.features__list_item
					.features__list_item-text
						+svg('features__list_item-i', 'list')
						p Manage ETH and any ERC20 tokens (not just TIME and LH)
					.features__list_item-image-box
						img(src="i/svg/feature-laptop.svg").features__list_item-back
						img(src="i/github.png" srcset="i/@2x/github.png").features__list_item-image
						.features__list_item-link-box
							+svg('features__list_item-pic', 'github-pic')
							a.features__list_item-link(href="#")
								+svg('features__list_item-link-i', 'more')
								span https://github.com/ChronoBank/ChronoMint
				li.features__list_item
					.features__list_item-text
						+svg('features__list_item-i', 'list')
						p Manage BTC, LTC and a number of other popular cryptocurrencies (coming soon)
					.features__list_item-image-box
						img(src="i/svg/feature-laptop.svg").features__list_item-back
						img(src="i/github.png" srcset="i/@2x/github.png").features__list_item-image
						.features__list_item-link-box
							+svg('features__list_item-pic', 'github-pic')
							a.features__list_item-link(href="#")
								+svg('features__list_item-link-i', 'more')
								span https://github.com/ChronoBank/ChronoMint
				li.features__list_item
					.features__list_item-text
						+svg('features__list_item-i', 'list')
						p Using multisignature wallets
					.features__list_item-image-box
						img(src="i/svg/feature-laptop.svg").features__list_item-back
						img(src="i/github.png" srcset="i/@2x/github.png").features__list_item-image
						.features__list_item-link-box
							+svg('features__list_item-pic', 'github-pic')
							a.features__list_item-link(href="#")
								+svg('features__list_item-link-i', 'more')
								span https://github.com/ChronoBank/ChronoMint
				li.features__list_item
					.features__list_item-text
						+svg('features__list_item-i', 'list')
						p Using hardware key storage (ledger nano)
					.features__list_item-image-box
						img(src="i/svg/feature-laptop.svg").features__list_item-back
						img(src="i/github.png" srcset="i/@2x/github.png").features__list_item-image
						.features__list_item-link-box
							+svg('features__list_item-pic', 'github-pic')
							a.features__list_item-link(href="#")
								+svg('features__list_item-link-i', 'more')
								span https://github.com/ChronoBank/ChronoMint