form
  .field
    font-size: 1.6rem
    line-height: 2rem
    border: 0
    border-bottom: 1px solid rgba(255, 255, 255, .6)
    padding: 5px 0
    width: 100%
    box-sizing: border-box
    background: none
    color: white
    font-weight: 300
    outline: none
    border-radius: 0
    transition: all $fast

    &:focus
      border-bottom: 1px solid rgba(255, 255, 255, 1)

    +placeholder()
      color: rgba(255, 255, 255, .6)
      opacity: 1

    &__block
      margin-bottom: 15px

      &_2
        position: relative
        margin-bottom: 16px

    &_2
      font-size: 1.6rem
      line-height: 2rem
      border: 0
      border-bottom: 2px solid #abc0ff
      width: 100%
      box-sizing: border-box
      background: none
      color: $black
      outline: none
      background: rgba(117, 143, 255, .2)
      min-height: 56px
      padding: 28px 16px 6px
      border-radius: 4px
      transition: all $fast

    &_file
      width: 0.1px
      height: 0.1px
      opacity: 0
      overflow: hidden
      position: absolute
      z-index: -1

    &__label
      position: absolute
      left: 0
      top: 0
      display: block
      right: 0
      bottom: 0
      font-size: 1.6rem
      line-height: 2rem
      color: $black
      opacity: .6
      padding: 16px
      transition: all $fast

      &-file
        font-size: 1.4rem
        font-weight: 500
        text-align: left
        color: #2962ff
        display: inline-block
        cursor: pointer
        padding-left: 40px
        position: relative
        margin-bottom: 24px
        text-transform: uppercase

        &::before
          content: ''
          position: absolute
          top: 50%
          margin-top: -12px
          left: 0
          width: 24px
          height: 24px
          background: url(../i/svg/attachment.svg) no-repeat center

    &__filled

      .field__label
        font-size: 1.2rem
        line-height: 1.5rem
        padding-top: 6px

      .field_2
        border-color: #2962FF

  textarea.field_2
    height: 128px
    min-height: 128px
    resize: vertical

  label.error
    color: red
    font-size: 1.3rem
    padding-top: 5px
    display: inline-block

  input.error,
  textarea.error
    border-color: red
