// Grid
.page
  position: relative
  min-height: 100%
  min-width: 320px
  overflow: hidden

.wrap
  margin: 0 auto
  box-sizing: border-box
  padding: 0 16px

//@include media(tablet,medium)
//
//  .wrap
//    width: 580px
//    padding: 0

@include media(desktop,medium)

  .wrap
    width: 1120px