.footer
  background: linear-gradient(#644EBF, #262448)
  color: white
  padding: 34px 0 24px
  position: relative
  box-sizing: border-box
  z-index: 1

  &__scrolltop
    width: 56px
    height: 56px
    display: block
    position: absolute
    right: 8px
    top: -63px
    border-radius: 50%
    cursor: pointer
    z-index: 2
    background: white
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12)
    transition: all $fast

    &:hover
      box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12)

    &::before
      content: ''
      display: block
      position: absolute
      left: 24px
      top: 26px
      box-sizing: border-box
      width: 9px
      height: 9px
      border: solid $blue
      border-width: 2px 0 0 2px
      transform: rotate(45deg)

  .wrap
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    height: 100%
    position: relative

  &__title
    font-size: 1.6rem
    text-transform: uppercase
    color: white
    opacity: 0.5
    font-weight: 500
    margin-bottom: 10px

  &__logo
    display: block
    margin-bottom: 18px

    &-mobile
      display: block
      width: 143px
      height: 17px

    &-desktop
      display: none
      width: 221px
      height: 26px

  &__block
    width: 100%
    height: 100%
    margin-bottom: 24px

    &.logo

      .footer__content
        display: none
        list-style: none

    &.nav
      width: 130px

      .footer__content
        font-size: 1.4rem
        line-height: 1.7rem
        display: flex
        flex-direction: column

        a
          margin-bottom: 9px
          color: white

          &:hover
            text-decoration: underline

          &:last-child
            margin-bottom: 0

    &.contacts
      width: 158px

      .footer__content
        font-size: 1.4rem
        line-height: 1.7rem
        font-weight: 300

        a
          font-weight: bold
          color: #768FFF

          &:hover
            text-decoration: underline

        dd
          margin-bottom: 18px

          &:last-child
            margin-bottom: 0

    &.social
      width: 196px

      .footer__content
        display: flex
        flex-wrap: wrap
        width: 200px
        flex-direction: row

        a
          display: block
          width: 32px
          height: 32px
          margin: 0 16px 16px 0

    &.downloads
      height: auto
      display: none

      .footer__i
        fill: white

  &__copy
    font-style: normal
    font-size: 1.2rem
    font-weight: 300
    width: 100%
    margin-top: 24px
    color: white

  &__subscribe
    border-radius: 2px
    background: rgba(255, 255, 255, .1)
    padding: 8px 16px 14px
    box-sizing: border-box
    width: 100%
    max-width: 288px

    .field__block
      padding-top: 15px

  &__i
    display: block
    width: 32px
    height: 32px
    fill: rgba(255,255,255,.6)
    transition: fill $fast

    &:hover
      fill: rgba(255,255,255,1)

@include media(mobile,medium)
  .footer

    &__block
      &.contacts
        width: 192px

@include media(desktop,small)

  .footer
    background: linear-gradient(-125deg, #644EBF, #262448)
    padding-top: 40px
    padding-bottom: 24px
    height: 365px

    .wrap
      flex-direction: column
      justify-content: space-between

    &__scrolltop
      right: 0
      top: -70px

    &__logo
      margin-bottom: 26px

      &-mobile
        display: block

      &-desktop
        display: none

    &__block

      &.logo
        width: 33%

        .footer__content
          display: block
          font-size: 1.6rem
          line-height: 2rem

          li
            margin-bottom: 24px
            font-weight: bold

            &:last-child
              margin-bottom: 0

          a
            font-weight: normal
            color: #768FFF

            &:hover
              text-decoration: underline

      &.nav
        width: 17%
        padding-top: 4px

        .footer__content
          font-size: 1.8rem
          line-height: 2.1rem

          a
            margin-bottom: 13px

      &.contacts
        padding-top: 4px
        width: 24%
        height: auto

        .footer__content
          font-size: 1.6rem
          line-height: 2.1rem

          dd
            margin-bottom: 10px
            font-weight: bold

        .footer__title
          margin-bottom: 11px

      &.downloads
        width: 25%
        display: block

        .footer__content

          a
            display: block
            margin-bottom: 20px

            &:last-of-type
              margin-bottom: 0

            &:hover

              span
                text-decoration: underline

            .footer__i
              display: inline-block
              vertical-align: middle

            span
              display: inline-block
              vertical-align: middle
              margin-left: 24px
              font-size: 1.6rem
              color: #768fff

      &.social
        width: 25%
        height: auto
        margin-bottom: 0

    &__subscribe
      padding-top: 14px
      width: 25%

      .field__block
        padding-top: 11px

      .button__container
        text-align: right

        input
          display: inline-block

    &__copy
      font-size: 12px
      position: absolute
      left: 0
      bottom: 0
